<h1> Codiel/<%=title%>
</h1>
<hr>
<section>
    <h4>Posts</h4>
    <%if(locals.user){%>
        <form action="/posts/create" method="post">
            <textarea name="content" cols="10" rows="3" placeholder="Write Here"></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
            <ul>
                <%for(post of posts){%>
                    <%-include('_posts')-%>
                        <%}%>
            </ul>
</section>
<hr>
<section>
    <h4>Friends</h4>
    <%for(u of all_users){%>
        <p>
            <a href="/users/profile/<%=u.id%>">
                <%=u.name%>
            </a>
        </p>
        <%}%>
</section>